In [2]:
import evalml
import pandas as pd

In [33]:
salary_dataset = pd.read_csv('kaggle_survey_2020_responses.csv')
salary_dataset.head()

Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
salary_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20037 entries, 0 to 20036
Columns: 355 entries, Time from Start to Finish (seconds) to Q35_B_OTHER
dtypes: object(355)
memory usage: 54.3+ MB

In [28]:
X = salary_dataset.iloc[:, :-1]
y = salary_dataset.iloc[:, -1]

In [32]:
X_train, X_test, y_train, y_test = evalml.preprocessing.split_data(X, y, test_size=0.2, problem_type="regression")
X_train.head()

Data Column,name,jobtitle,deptid,descr,hire_dt,annual_rt
Physical Type,string,string,category,string,datetime64[ns],float64
Logical Type,NaturalLanguage,NaturalLanguage,Categorical,NaturalLanguage,Datetime,Double
Semantic Tag(s),[],[],['category'],[],[],['numeric']
4123,"Flood,William S",Public Works Inspector I,A50803,DPW-Water & Waste Water (803),1999-10-16,40443.0
1611,"Brown,Freddy",Library Custodial Worker II,A75081,Enoch Pratt Free Library (081),2012-10-29,32287.0
6126,"Irving,Nayaree",Crossing Guard,C90786,TRANS-Crossing Guards (786),1999-09-30,11632.0
6376,"Johncox,Thomas E",Police Officer EID,A99125,Police Department (125),2008-02-13,81464.0
8433,"Mende,Samuel A",Fire Lt Supp ALS,A64102,Fire Department (102),2004-02-25,85819.0